{% extends 'website/base.html' %}
{% load static %}
{% block content %}

    <!-- academic-information section -->
    <section class="our-team team-page sec-pad">
        <div class="container">
            <div class="team-title centred">
                <div class="section-title"><h2>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #337ab7;">Academic information</span></h2></div>
            </div>
            <div class="row">

                <div class="page-content">
            <p>From the administrative point of view the school is divided broadly into two sections – Lower Secondary Level (LSL) and Higher Secondary Level (HSL).</p>

            <b>LSL</b><br>

LSL includes Grades 5 to 8. At this level, the school follows the national curriculum tailored to the needs of Budhanilkantha School (BNKS). English, Nepali, Mathematics, Social Studies, Science, Physical Education, Vocational Studies, Computer Science, Environmental Science, Moral Education and Expressive Arts are taught to all students. Expressive arts include music, dance and fine art. Scouting and martial arts are included in the course.<br>

<b>HSL</b><br>

HSL includes Grades 9 and above. At this level, the school follows the national curriculum up to grade 10. At the end of the 10th grade students take the School Leaving Certificate Examination (SLC), the national exam of Nepal conducted by the Ministry of Education, Nepal. English, Nepali, Mathematics, Social Studies, Science and Health, Population and Environmental Education are the compulsory subjects. Students can opt between Additional Mathematics, Economics, Geography, Accounts and Office Management and Computer Science.<br>

<p>After the SLC, students can follow either of the two courses:</p>

The Grade 11 and 12 (science) programme of Higher Secondary Board of Nepal. The subjects offered in grade 11 are: English, Mathematics, Physics, Chemistry, Biology and Computer Studies. The subjects offered in grade 12 are Nepali, English, Physics, Chemistry and Biology or Mathematics.
The GCE Advance Level (A-level) programme of the Cambridge University, UK. It is a two-year programme and the following combinations of subjects are available.<br>
i. Physics, Chemistry and Biology<br>

ii. Physics, Chemistry and Economics<br>

iii. Physics, Chemistry and Further Mathematics<br>

iv. Economics, Business Studies and Further Mathematics<br>

v. Economics, Business Studies and Sociology<br>

<p>AS Level English Language and Mathematics are compulsory subjects all A Level Students.  Besides these combinations, students are free to appear in any one or more subjects of their choice in their own initiative.</p>


        </div>
              
            </div>
        </div>
    </section>
    <!-- resources&facilities section -->

{% endblock %}