{% extends 'website/base.html' %}
{% load static %}
{% block content %}

      <!-- academic-departments section -->
    <section class="our-team team-page sec-pad">
      <div class="team-title centred">     
        <div class="section-title"><h2>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #337ab7;">Grade Levels Available</span></h2></div>
      </div>
        <div class="container">
          
         <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="color:  #337ab7;">English Department</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
         <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="color:  #337ab7;">Nepali Department</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
         <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="color:  #337ab7;">Maths Department</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
         <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
    </div>
  </div> 
   <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="color:  #337ab7;">Science Department</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
         <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
    </div>
  </div> 

        
        </div>
    </section>
    <!-- resources&facilities section -->

{% endblock %}