.header, .navbar, .footer {
    position: fixed;
}

.header {
    top: 0;
    right: 0;
    left: 240px;
    background-color: #201f1f;
    border-bottom: 1px solid #da0c0c;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.navbar {
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #201f1f;
    padding: 20px;
    border-right: 1px solid #da0c0c;
    align-items: center;
    flex-direction: column;
    display: flex;
    
}

.navbar img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
}


.content {
    margin-left: 230px;
    margin-right: -8px;
    height: calc(100vh);
    overflow-y: auto; 
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 80px;
    padding-top: 30px;
    background-color: #2e302e;
    color: #dfdee4;
    overflow: hidden;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 239px;
    width: calc(100% - 200px);
    background-color: #201f1f;
    padding: 5px;
    text-align: center;
    border-top: 1px solid #da0c0c;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #2408a0;
    cursor: pointer;
    color: #fff;
}

.nav-button:hover {
    background-color: #3006ec;
}

.nav-button.active {
    background-color: #2e302e;
    color: #f50a0a;
  }


.col-md-6 {
    width: 50%;
    float: left;
}

.card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #480963;
    background-color: #310347;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #36049b;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow:
        -3px -3px 10px #4CAF50,
        3px 3px 20px #e14508;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: #31054c;
    transform: scale(0.9);
    color: rgb(199, 9, 9);
}

.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th, .table td {
    border: 1px solid #150794;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #36049b;
  }
  
  .table tr:nth-child(even) {
    background-color: #97ac9756;
  }
  
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #219653;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #219653;
}

.slider.red {
  background-color: #ff0000;
}

.slider.red:before {
  background-color: #fff;
}

.slider.red:checked {
  background-color: #219653;
}


