{% extends 'website/base.html' %}
{% load static %}
{% block content %}

    <!-- resources&facilities section -->
    <section class="our-team team-page sec-pad">
        <div class="container">
            <div class="team-title centred">
                
                <div class="section-title"><h2>Resources <span style="color: #337ab7;">&amp;</span> Facilities</h2></div>
            </div>
            <div class="row">

                <div class="page-content">
            <p>ABC Secondary School offers a host of opportunities for learning and a vast range of resources to assist students with their studies. Well-equipped class rooms and laboratories, wi-fi internet access on campus foster a safe and inclusive environment which inspires a lifelong love of learning. The college invites eminent achievers from different walks of life to the campus to share their insights that help to augment the vision of students.</p>

<h2>Hygienic Cafeteria</h2>

<p>Cafeteria provides hygienic meals to students.</p>

<h2>Sports</h2>

<p>To unearth the hidden aptitude of students the college has special provision of sports. The Sports Department provides the necessary sports facilities.</p>

<h2>Library</h2>

<p>The college has a library to enhance effective and holistic teaching/learning process. Along with course books, reference books help supplement text-book teaching-learning.</p>

<h2>Computer Lab</h2>

<p>The College has a well equipped computer lab having unlimited internet facility.</p>

<h2>Transportation</h2>

<p>The college provides transportation facility for easy conveyance of students in and around the Ring Road.</p>

        </div>
              
            </div>
        </div>
    </section>
    <!-- resources&facilities section -->

{% endblock %}