{% extends 'website/base.html' %}
{% load static %}
{% block content %}

    <!-- team section / team-page -->
    <section class="our-team team-page sec-pad">
        <div class="container">
            <div class="team-title centred">
                <div class="title-head">Our <span>Team</span></div>
                <div class="section-title"><h2>Teachers Staff &amp; Faculty Members</h2></div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 team-column">
                    <div class="single-item">
                        <div class="img-content">
                            <div class="img-box"><a href="#"><figure><img src="{% static 'images/team/1.jpg' %}" alt=""></figure></a></div>
                            <div class="team-social-area">
                                <ul class="team-social centred">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <span class="curve"></span>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Lionel Green</a></h3>
                            <p>Financial Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 team-column">
                    <div class="single-item">
                        <div class="img-content">
                            <div class="img-box"><a href="#"><figure><img src="{% static 'images/team/5.jpg' %}" alt=""></figure></a></div>
                            <div class="team-social-area">
                                <ul class="team-social centred">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <span class="curve"></span>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Chandler Bing</a></h3>
                            <p>Financial Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 team-column">
                    <div class="single-item">
                        <div class="img-content">
                            <div class="img-box"><a href="#"><figure><img src="{% static 'images/team/3.jpg' %}" alt=""></figure></a></div>
                            <div class="team-social-area">
                                <ul class="team-social centred">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <span class="curve"></span>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Jacobe Martin</a></h3>
                            <p>Financial Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 team-column">
                    <div class="single-item">
                        <div class="img-content">
                            <div class="img-box"><a href="#"><figure><img src="{% static 'images/team/6.jpg' %}" alt=""></figure></a></div>
                            <div class="team-social-area">
                                <ul class="team-social centred">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <span class="curve"></span>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Steve Smith</a></h3>
                            <p>Financial Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 team-column">
                    <div class="single-item">
                        <div class="img-content">
                            <div class="img-box"><a href="#"><figure><img src="{% static 'images/team/7.jpg' %}" alt=""></figure></a></div>
                            <div class="team-social-area">
                                <ul class="team-social centred">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <span class="curve"></span>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Lionel Green</a></h3>
                            <p>Financial Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 team-column">
                    <div class="single-item">
                        <div class="img-content">
                            <div class="img-box"><a href="#"><figure><img src="{% static 'images/team/2.jpg' %}" alt=""></figure></a></div>
                            <div class="team-social-area">
                                <ul class="team-social centred">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <span class="curve"></span>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Chandler Bing</a></h3>
                            <p>Financial Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 team-column">
                    <div class="single-item">
                        <div class="img-content">
                            <div class="img-box"><a href="#"><figure><img src="{% static 'images/team/8.jpg' %}" alt=""></figure></a></div>
                            <div class="team-social-area">
                                <ul class="team-social centred">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <span class="curve"></span>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Jacobe Martin</a></h3>
                            <p>Financial Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 team-column">
                    <div class="single-item">
                        <div class="img-content">
                            <div class="img-box"><a href="#"><figure><img src="{% static 'images/team/9.jpg' %}" alt=""></figure></a></div>
                            <div class="team-social-area">
                                <ul class="team-social centred">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <span class="curve"></span>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Steve Smith</a></h3>
                            <p>Financial Director</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team section / team-page -->

{% endblock %}