{% extends 'website/base.html' %}
{% load static %}
{% block content %}

    <!-- service section -->
    <section class="service-section service-details">
        <div class="container">
            <div class="team-title centred">
                
                <div class="section-title"><h2>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #337ab7;">Mission Vision &amp; Objectives</span></h2></div>
            </div>
            <div class="row">
               <!-- <div class="col-md-3 col-sm-6 col-xs-12 sidebar-side">
                    <div class="sidebar-catagories">
                        <ul class="list">
                            <li><a href="#"><p>All Services</p></a></li>
                            <li><a href="#" class="active"><p>Home Care</p></a></li>
                            <li><a href="#"><p>Intensive Care</p></a></li>
                            <li><a href="#"><p>Exercise Care</p></a></li>
                            <li><a href="#"><p>Family Care</p></a></li>
                            <li><a href="#"><p>Health Care</p></a></li>
                            <li><a href="#"><p>Medical Care</p></a></li>
                        </ul>
                    </div>
                </div>-->
                <div class="col-md-12 col-sm-12 col-xs-12 content-side">
                    <div class="service-details-content">
                        <div class="content-style-one">
                            <div class="img-box"><figure><img src="{% static 'images/service/details.jpg' %}" alt=""></figure></div>
                            <div class="icon-box"><i class="flaticon-solar-panel"></i></div>
                            <div class="title">Our Education System</div>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex  commodo consequat. Duis aute irure dolor  rep rehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
                                <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                            </div>
                        </div>
                        <div class="content-style-two">
                            <div class="accordion-box">
                                <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                    <div class="acc-btn">
                                        <div class="acc-title">Consectetur enim vel enim congue</div>
                                        <div class="toggle-icon">
                                            <i class="plus fa fa-plus"></i><i class="minus fa fa-minus"></i>
                                        </div>
                                    </div>
                                    <div class="acc-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                    </div>
                                </div>
                                <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                    <div class="acc-btn active">
                                        <div class="acc-title">Eget dui lobortis laoreet est porta tristique</div>
                                        <div class="toggle-icon">
                                            <i class="plus fa fa-plus"></i><i class="minus fa fa-minus"></i>
                                        </div>
                                    </div>
                                    <div class="acc-content collapsed">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                    </div>
                                </div>
                                <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                    <div class="acc-btn">
                                        <div class="acc-title">Nulla non diam lectus biben</div>
                                        <div class="toggle-icon">
                                            <i class="plus fa fa-plus"></i><i class="minus fa fa-minus"></i>
                                        </div>
                                    </div>
                                    <div class="acc-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-style-three">
                            <div class="text">
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed perspiciatis unde omnis iste natus error sit voluptatem accus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                 
               
            </div>
        </div>
    </section>
    <!-- service section end -->


    <!-- newsletter section -->
    <section class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 newsletter-column">
                    <div class="text">Sign up for Newsletter</div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 newsletter-column">
                    <div class="subscribe-form">
                        <form action="#">
                            <input type="email" placeholder="Enter your email">
                            <button class="btn-two">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- newsletter section end -->

<!--End pagewrapper-->


{% endblock %}